In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('raw-data/raw_list_prodi.csv')
df.tail(5)

,kode_univ,nama_univ,kode_prodi,program_studi,jenjang,daya_tampung_2025,peminat_2024,jenis_portofolio
4956,1713,UIN ALAUDDIN,17131048,KESEJAHTERAAN SOSIAL,Sarjana,48,22.0,Tidak Ada
4957,1713,UIN ALAUDDIN,17131049,KEBIDANAN,Sarjana,32,NaN,Tidak Ada
4958,1732,UIN DATOKARAMA PALU,17321001,INFORMATIKA,Sarjana,42,40.0,Tidak Ada
4959,1732,UIN DATOKARAMA PALU,17321002,ARSITEKTUR,Sarjana,28,9.0,Tidak Ada
4960,1732,UIN DATOKARAMA PALU,17321003,SISTEM INFORMASI,Sarjana,28,25.0,Tidak Ada